.videos-group {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--main-dark);
}

.video {
  height: 300px;
  border-radius: 1rem;
  margin: 0.5rem;
  width: 400px;
  object-fit: cover;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  display: block;
}

.video-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.video-header {
  color: #eeeeee;
  text-transform: capitalize;
  font-weight: bold;
  margin: 0.8rem;
}
