@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --main-darklg: #1d2635;
  --main-darklg-shadow: #242f41;
  --main-darklg-shadow-light: #323944;
  --main-dark: #161d29;
  --primary-color-hover: #2360b1;
  --primary-color: #2f80ec;
  --main-light: #eeeeee;
  --primary-red: #f6484a;
  --primary-red-hover: #b83537;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

main {
  overflow: hidden;
  height: 92vh;
  display: flex;
  background-color: var(--main-dark);
}