body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media (max-width: 700px) {
  .hide-on-small {
    display: none !important;
  }

  .block-on-small {
    display: block !important;
  }

  .flex-on-small {
    display: flex !important;
  }
}

@media (min-width: 701px) {
  .hide-on-big {
    display: none !important;
  }

  .block-on-big {
    display: block !important;
  }

  .flex-on-big {
    display: flex !important;
  }
}
